<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Thanks <%= @user.name %> for register on Wuoman!</h3> 
    <p>
      You have successfully signed up to Wuoman.<br/>
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To confirm your registration, just follow this link: <a href="<%= url_for :host=> '127.0.0.1:3000', :controller => 'user', :action => 'confirm' %>"> Confirm </a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>