<h1 id="welcome">Welcome to Wouman!</h1>

<div class="row">
	<div id="welcome_description" class="span8">
		<p>Wouman is a comunity for share Food Recipes or recipes for making crafts.</p>
		
	</div>
	<div id="welcome_login" class="span4">
		<%= render 'sessions/create_nolabel' %>
		<h3> Are you new? <small>Sign Up</small></h3>
		<%= render 'users/new_nolabel' %>
	</div>	
</div>


