<div class="step">
	<h3> <%= step.title %> </h3>
	<div class="step_content">
		<%= step.content %>
	</div>
	<%= link_to 'Delete', [step.post, step] ,confirm: 'Are you sure?', method: :delete,remote: true %>
</div>