<h1>Edit a Recipe</h1>

<div id="post_edit">
	<div id="notice">
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<% end %>
	</div>
	<%= render 'new_form' %>
</div>
<div id="post_steps">
  <%= render @post.steps %>
</div>
<div id="post_steps_form">
	<%= render 'steps/new_form' %>
</div>
