/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@import url(http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic);

h1,h2,h3,h4,h5,h6 {
	font-family:Amaranth;
	font-weight:400;
}

#content {
	margin-top:50px;
}
