/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@import url(http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic);

h1,h2,h3,h4,h5,h6 {
	font-family:Amaranth;
	font-weight:400;
}

#content {
	margin-top:60px;
}
.notification span {
	display: block;
	float:left;
	line-height: 40px;
}
.notification .close {
	margin-top:10px;
}
.notification {
}
.notification_alert {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 1030;
	border-color: #888888;
	background-color:#FFCC00;
	border-width: 0 0 1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
}